.lotto-ticket-screen {
	max-height: 250px;
	overflow-y: scroll;
}

.ticket-wrap, .screen-wrap {
	font-size: 20px;
	padding: 0 10px;
	display: flex;
	height: 40px;
	justify-content: space-between;
	flex-shrink: auto;
}

.screen-wrap {
	height: 40px;
	margin: 0 22px 0 15px;
}

.screen-wrap p {
	width: 10px;
}